<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="DefaultSuite" parallel="methods"> <!-- 测试套件名称 -->
    <test name="TestDu1"> <!-- 测试名称 -->
        <parameter name="name" value="dujun"/>
        <parameter name="age" value="18"/>
        <groups>
            <run>
                <include name="A-2"/>
            </run>
        </groups>
        <!--        <classes>-->
        <!--            <class name="com.dujun.springboot.temp.AutoTest2">-->
        <!--                <methods>-->
        <!--                    <exclude name="test_1"/>-->
        <!--                </methods>-->
        <!--            </class>-->
        <!--        </classes>-->
        <packages>
            <package name="com.dujun.springboot.temp">
            </package>
        </packages>

    </test>
</suite>